{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/home/main.css' %}">
    <link href="https://webfontworld.github.io/BMHannaPro/BMHannaPro.css" rel="stylesheet"> <!-- 배달의 민족 한나체 (호스팅방식) -->
</head>
<body>
    <div id = "wrap">
        <div class = left_box></div>
        <div class = "box">
            <div class = "main_section">
                <div class = "header"></div>
                <div class = "dis_section">
                    <div class = dis_btn>
                        <div id = hex>1.</div>
                        <div class = hex2>자세한 사용법을 통해 쉽게 알려드려요</div>
                    </div>
                    <div class = dis_img></div>
                    <div class = dis_btn></div>
                </div>
                <div class="text_section">
                    여러 상황에서의 화면 사용이 어려우셨나요?<br>
                    연습과 퀴즈를 통해 키오스크 이용법을 익혀보세요!
                </div>
                <div class = "nav_section">
                    <button class = "nav1" onclick="location.href='{% url 'kiosk' %}'">키오스크</button>
                    <button class = "nav2" onclick="location.href=';'">은행</button>
                    <button class = "nav3" onclick="location.href=';'">버스</button>
                    <button class = "nav4" onclick="location.href=';'">게시판</button>
                </div>
                <div class = "footer">
                    <div class = "logo"></div>
                </div>
            </div>    
        </div>
        <div class = right_box>
            {% if user.is_authenticated %}
            <button class="login" type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
            {% else %}
            <button class="login" type="button" onclick="location.href='{% url 'login' %}'">Login</button>
            {% endif %}
        </div>
    </div>
</body>
</html>