
* {
    margin: 0;
    padding: 0;
    font-family: 'BMHannaPro';
}
#wrap {
    width: 1900px; height: 900px;
    display: flex;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------------------------------------------------*/
.box {
    box-sizing: border-box;
    width: 40%; height: 100%;
    border: 30px solid #000;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.left_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.right_box {
    box-sizing: border-box;
    width: 30%; height: 100%;
    display: flex;
    justify-content: center;
}
/*------------------------------------------------------------------------------*/
.main_section {
    box-sizing: border-box;
    width: 100%; height: 100%;
    background-color: #A0CE9B;
}
/*------------------------------------------------------------------------------*/

.header {
    box-sizing: border-box;
    width: 98%; height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.dis_section {
    box-sizing: border-box;
    width: 98%; height: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dis_btn {
    box-sizing: border-box;
    width: 100%; height: 20%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#hex {
    width: 80px;
    height: 40px;
    background: #6F9669;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

#hex::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #6F9669;
}

#hex::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; 
    border-top: 25px solid #6F9669;
}

.hex2 {
    width: 80%;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
}

.dis_img {
    box-sizing: border-box;
    width: 100%; height: 60%;
    border: 5px solid black;
}

.dis_btn {
    box-sizing: border-box;
    width: 100%; height: 20%;
    border: 5px solid black;

}

.text_section{
    box-sizing: border-box;
    width: 98%; height: 10%;
    background-color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    letter-spacing: 2px; /*단어 사이 간격 조정*/
    margin-left: auto;
    margin-right: auto;
}

.nav_section {
    width: 98%; height: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.nav1, .nav2, .nav3, .nav4{
    width: 26%; height: 100%;
    border: 5px solid white;
    border-radius: 0 0 25px 25px;
    background-color: #9FCE9D;

    color: white;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    
}
.nav1:hover{background-color: #8eba8c;}
.nav2:hover{background-color: #8eba8c;}
.nav3:hover{background-color: #8eba8c;}
.nav4:hover{background-color: #8eba8c;}

.nav2, .nav3, .nav4{
    margin-left: -0.5%; 
}

.footer {
    box-sizing: border-box;
    width: 98%; height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo {
    width: 35px; height: 35px;
    border: 4px solid #000;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------------------------------------------*/

.side_nav{
    width: 13%; height: 90%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}
.side_nav1 ,.side_nav2, .side_nav3, .side_nav4 {
    width: 100%; height: 25%;
    border: 6px solid #ABCBA4;
    border-right: 0px;
    background-color: rgba(255, 255, 255, 0);
    writing-mode: vertical-lr;

    font-size: 35px;
    color: #ABCBA4;
    padding-left: 18px;
    cursor: pointer;
}

.side_nav1{
    border-color: #779472;
    color: #779472;
}
.side_nav2{
    border-top: 0px;
}
.side_nav3{ 
    border-top: 0px;
}
.side_nav4{
    border-top: 0px;
}

.side_nav1:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav2:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav3:hover{background-color: rgba(165, 165, 165, 0.163);}
.side_nav4:hover{background-color: rgba(165, 165, 165, 0.163);}

/*------------------------------------------------------------------------------*/
.login{
    width: 25%; height: 5%;
    background-color: #6D9668;
    border-radius: 15px;
    border: 0px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.login:hover{background-color: #62845c;}
.login:active{position:relative; top:1px;}
/*------------------------------------------------------------------------------*/